.cardImg {
    background-image: url("fondoCard.svg");
    text-align: center;
    
}
.btnCard {
    width: 176px;
    height: 36px;
    border:2px solid #171616;
    align-items: center;
    text-decoration: none;
    background: none;
}
.cardWine {
    margin-left: auto;
    height: 15vw;
    object-fit: cover;
}
h3 {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24.41px;
    text-align: center;
}
p {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 12.21px;
    text-align: center;
}